.filling {
  position: fixed;
  width: 280px;
  height: 990px;
  top: 0;
  left: 0;
  z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms var(--timing-function),
      visibility 250ms var(--timing-function);

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
}

.modal-filling {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-text-color);
  border: 2px solid #f8d24e;
  border-radius: 10px;
}
.filling-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  //   line-height: 0;
}
